.usertodo-section {
  margin: 0.5rem;
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    td button {
      cursor: pointer;
    }
  }

  .green-bg {
    background-color: green;
  }

  .amber-bg {
    background-color: yellow;
  }

  .button-container {
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      padding: 0.5rem 1rem;
      border: 1px solid rgb(80, 80, 167);
      background-color: rgb(80, 80, 167);
      border-radius: 5px;
      color: #ffffff;
      cursor: pointer;
    }
  }
}



